<mat-toolbar color="primary"> <span>Pinochhio's Pizza</span>
    <span class="flex-spacer"></span>
    <button mat-raised-button (click)="logoutClicked()" id="logoutBtn" color="primary">LogOut</button>
</mat-toolbar>
<div class="cart">
    <app-cart [cart]="cart"></app-cart>
</div>

<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">
    <div fxFlex *ngFor="let category of categories">
        <h3>{{category.name}}</h3>
        <div *ngFor="let item of items">
            <app-menuitem [item]="item" [category]="category" [toppings]="toppings"></app-menuitem>
        </div>
        <div [hidden]="items">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</div>


