<mat-card *ngIf="item.category == category.name" class="itemcard">
    <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
        <span class="flex-spacer"></span>
        <div>$ {{chosenSizePrice + chosenToppingPrice}}</div>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="2" rows="1" rowHeight="2:1">
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Meal Size</mat-label>
                    <mat-select (selectionChange)="onSizeSelect($event)" [(ngModel)]="selected">
                        <mat-option [value]="item.price_small">Small</mat-option>
                        <mat-option [value]="item.price_large">Large</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Extra Toppings</mat-label>
                    <mat-select (selectionChange)="onToppingSelect($event)" multiple>
                        <mat-option *ngFor="let topping of toppings" [value]="topping.rate">{{topping.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <button mat-button color="primary"><i class="fa fa-plus-circle"></i> Add to Cart</button>
</mat-card>