<ng-container *ngIf="cart">
    <mat-toolbar color="primary">Cart</mat-toolbar>
    <!-- <div>{{cart.user}}</div> -->
    <div *ngFor="let cartitem of cart.cartitems">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{cartitem.name}}</mat-card-title>
                <mat-card-subtitle>Base Price: ₹{{cartitem.baseprice}}</mat-card-subtitle>
                <mat-card-subtitle>
                    <mat-list>
                        
                        <mat-list-item matLine *ngFor="let topping of cartitem.topping">
                            <p matLine>{{topping.name}} : + ₹{{topping.rate}}</p>
                        </mat-list-item>
                    </mat-list>
                    <p matLine> Quantity: <button (click)="decrementQuantity(cartitem.id)" mat-mini-fab color="primary"><i class="fa fa-minus-circle"></i></button><b> {{cartitem.quantity}} </b><button (click)="incrementQuantity(cartitem.id)" mat-mini-fab color="primary"><i class="fa fa-plus-circle"></i></button></p>
                    <p matLine>Extra Price: ₹{{cartitem.extraprice}}</p>
                    <p matLine>Total : ₹{{cartitem.total}}</p>
                    
                </mat-card-subtitle>
            </mat-card-header>

        </mat-card>

    </div>

    <div [hidden]="cart.grand_total == 0">
        <h2>Subtotal: ₹{{cart.grand_total}}</h2>
        <button mat-button class="background-primary text-floral-white" routerLink="/checkout"><i class="fa fa-shopping-cart" aria-hidden="true"></i> CheckOut</button>
    </div>

    <div [hidden]="cart.grand_total != 0">
        <p> Your Cart is Empty!</p>
        <i class="fa fa-shopping-cart" style="size: 9ex; align-content: center;" aria-hidden="true"></i>
    </div>
</ng-container>